<div local-class="blog-post">
  <h1 local-class="title">
    {{title}}
  </h1>
  <p local-class="text">
    {{text}}
  </p>
  <button local-class="edit-button" onclick={{action buttonClicked blogPost}}>
    Edit
  </button>
</div>
