<div local-class="view-image">
  <img local-class="image" src="{{url}}">
  <div local-class="content">
    <h1 local-class="name">
      {{name}}
    </h1>
    <h2 local-class="caption">
      {{caption}}
    </h2>
  </div>
</div>
