.item {
  margin-bottom: 30px;
}

.image {
  width: 250px;
  height: 150px;
}

.name {
  display: flex;
  justify-content: center;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  color: #44474c;
}

.link {
  text-decoration: none;
}
