{{page-header
  header=header}}
<div local-class="body">
  <div local-class="content">
    <button local-class="upload-button">
      Upload
    </button>
    <div local-class="image-container">
      {{#each model as |image|}}
        {{image-item image=image}}
      {{/each}}
    </div>
  </div>
</div>
{{outlet}}
