{{page-header
  header=header}}
<div local-class="body">
  <div local-class="content">
    {{admin-bar
      text="Click here to upload an image"
      buttonText="Upload"
      buttonClicked=(action send "uploadPhoto")}}
    <div local-class="image-container">
      {{#each model as |image|}}
        {{image-item image=image}}
      {{/each}}
    </div>
  </div>
</div>
{{outlet}}
